<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Vue To Do List</title>

  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://kit.fontawesome.com/e5e66afd11.js" crossorigin="anonymous"></script>
</head>

<body>
  <main>
    <div id="app">
      <div class="container">
        <div class="todo-wrapper py-5">
          
          <!-- Inserisci una row con 2 col per ogni item nella To Do List -->
          <div v-for="(item, i) in toDoList" class="row">
            <div class="col-10">
              <div class="form-check form-switch">
                <input v-model="item.done" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" :class="{'text-decoration-line-through': item.done}" for="flexSwitchCheckDefault">{{ item.text }}</label>
              </div>
            </div>

            <div class="col-2">
              <button @click="delItem(i)">
                <i class="fa-solid fa-trash-can"></i>
              </button>
              
            </div>
          </div>
        </div>

        <div class="add-wrapper">
          <div class="input-group mb-3">
            <input v-model="toDoText" type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button @click="addItem(toDoText)" class="btn btn-outline-secondary" type="button" id="button-addon1">Add</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="js/main.js"></script>
</body>
</html>